NODE_ENV=development
PORT=5050
CLIENT_ORIGIN=http://localhost:3000
MONGODB_URI=
JWT_SECRET=
JWT_EXPIRES_IN=
X_LAYER_RPC_URL=
X_LAYER_CHAIN_ID=
X_LAYER_USDT_ADDRESS=
X_LAYER_MARKET_CONTRACT_ADDRESS=
X_LAYER_MARKET_CREATION_FEE_USDT=2
X_LAYER_USDT_DECIMALS=6
